.App {
  text-align: center;
  font-family: 'Open Sans';
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

#product-listing {
  margin: auto;
}

.product-listing-item {
  min-width: 250px;
  margin: 15px;
}
